body {
    background-image: linear-gradient(rgb(109, 46, 246),black);
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h2{
    color: rgb(109, 46, 246);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(7, 7, 7, 0.5);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.02);
}

.project img {
    width: 85%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.2);
}

.project a {
    color: #e8dda6;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project a:hover {
    color:#a176cb;
    transform: scale(0.95);
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
}